---
import cover1 from "../assets/projets/chevrefeuilles/cover.jpg";
import chevrefeuilles1 from "../assets/projets/chevrefeuilles/1.jpg";
import chevrefeuilles2 from "../assets/projets/chevrefeuilles/2.jpg";
import chevrefeuilles3 from "../assets/projets/chevrefeuilles/3.jpg";
import chevrefeuilles4 from "../assets/projets/chevrefeuilles/4.jpg";
import chevrefeuilles5 from "../assets/projets/chevrefeuilles/5.jpg";
import chevrefeuilles6 from "../assets/projets/chevrefeuilles/6.jpg";
import chevrefeuilles7 from "../assets/projets/chevrefeuilles/7.jpg";
import chevrefeuilles8 from "../assets/projets/chevrefeuilles/8.jpg";
import chevrefeuilles9 from "../assets/projets/chevrefeuilles/9.jpg";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

const chevrefeuilles = [
  cover1,
  chevrefeuilles1,
  chevrefeuilles2,
  chevrefeuilles3,
  chevrefeuilles4,
  chevrefeuilles5,
  chevrefeuilles6,
  chevrefeuilles7,
  chevrefeuilles8,
  chevrefeuilles9,
];

const description =
  "Architecte HMONP à Caen, Anne Branchereau conçoit des espaces élégants et intemporels, du neuf à la rénovation. Études de faisabilité, conception, permis, plans et suivi de chantier. Architecture sobre, cohérente et adaptée aux usages.";
const title = "Brane | Projets";
---

<Layout title={title} description={description}>
  <section id="projects" class="px-12 md:px-24 flex flex-col gap-4 items-start">
    <div class="grid grid-cols-2 md:grid-cols-5">
      <ProjectCard
        images={chevrefeuilles}
        projectName="chevrefeuilles"
        coverIndex={0}
      />
    </div>
  </section>
</Layout>
