---
import logo from '../assets/logo.svg'
---
<header class="flex flex-col bg-background px-18 xl:px-24 mt-8">
  <div class="animate-fade-in flex pb-4 xl:pb-12 xl:px-24 overflow-hidden ">
    <a href='/' class="h-22">
      <img src={logo.src} alt={logo.name} class="w-2/3"/>
    </a>
  </div>
  <nav class='text-primary flex justify-around items-center gap-8 py-2 xl:px-24'>
    <a class="min-w-fit" href="/#projects">Projets</a>
    <span class="font-light">•</span>
    <a class="min-w-fit" href="/#about">A propos</a>
    <span class="font-light">•</span>
    <a class="min-w-fit" href="/#contact">Contact</a>
  </nav>
</header>
